<link rel="stylesheet" href="css/input.css">
<div class="wrapper" style="margin-top:16px; margin-left:16px">
  <form>
    <h1 ng-show="isInsertMode" style="position:fixed; top:4px;">Create Application</h1>
    <h1 ng-show="isUpdateMode" style="position:fixed; top:4px;">Modify Application</h1>
    <div class="group" style="margin-left:400px">
      <label>Application Name</label>
      <input type="text" ng-model="detail.applicationName" placeholder="Application Name" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Class Name</label>
      <input type="text" placeholder="com.developer.controller.Test" ng-model="detail.className" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Method Name</label>
      <input type="text" placeholder="updatePortalRecord" ng-model="detail.methodName" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Parameters</label>
      <input type="text" placeholder="{'value'='2','name'='Test'}" ng-model="detail.parameters" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Target Jar Path</label>
      <input type="text" placeholder="Path to the JAR File" ng-model="detail.deployPath" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Comments</label>
      <textarea type="textarea" placeholder="Add comments here...." ng-model="detail.comments" rows="5" class="fillpage"></textarea><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="btn-box" style="margin-left:1178px; position:fixed; top:-10px;">
      <button class="btn btn-success" type="submit" ng-show="isInsertMode" ng-click="insertRecords()">Submit</button>
      <button class="btn btn-warning" type="submit" ng-show="isUpdateMode" ng-click="updateRecords()">Update</button>
      <button class="btn btn-cancel btn-danger" ng-click="onCancel()" type="button">Cancel</button>
    </div>
  </form>
</div>